<!-- templates/home.html -->
{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
    <h1>Hi {{user.email}}</h1>
    <img alt="book" class="bookcover" src="{% static 'images/djangoforprofessionals.jpg' %}" />
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock content %}